a{
    text-decoration: none;
    color: black;
}

body{
    padding: 0;
    margin: 0;
}

.header{
    background-color: #53BF9D;
    padding: 0;
    position: sticky;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 3%
}

.navbar-logo{
    padding: 0 10px;
}

.navbar-item{
    padding: 0 5px;
}

.dropdown-menu{
    display: flex;
    flex-direction: column;
    transition: top 0.15s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 50px;
    background-color: #F94C66;
    border-radius: 4px;
}

.nav-section{
    display: flex;
    flex-direction: row;
}

.navbar-item:hover .dropdown-menu{
    opacity: 1;
    max-height: 500px;
    top: 40px;
}

.dropdown-item{
    padding: 5px
}

.navbarItem{
    color:#F94C66;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.dropdown-btn{
    background-color:#F94C66;
    border: none;
}

.search-bar{
    border-style: none none solid none;
    background-color: transparent;
    color:#F94C66;
}